[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
mpi4py = "*"
numba = "*"
pandas = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.11"
